body {
  background-color: #d4b58d47;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  transition: margin-left 0.3s ease-in-out;
}

.app-container.sidebar-open {
  margin-left: 300px;
}

.app-container.sidebar-collapsed {
  margin-left: 0;
}

.sidebar {
  background-color: #d8bda3;
  width: 300px;
  padding: 20px;
  box-shadow: 2px 0 5px #d4b58d47;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  transition: left 0.3s ease-in-out;
}

.sidebar.closed {
  left: -300px;
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #7c5430;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.sidebar-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}

.sidebar h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  color: #333;
}

.chart-area {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-container.sidebar-open .chart-area {
  margin-left: 0px;
}

.app-container.sidebar-collapsed .chart-area {
  margin-left: 0;
}

.chart-container {
  width: 80%;
  height: 80%;
}

.plotly-graph-div {
  width: 100%;
  height: 100%;
}

element.style {
  width: 100%;
  height: 100%;
}

.controls-container {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input[type="number"],
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.upload-section {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.generate-button {
  margin: 40px 0px 0 40px;
  padding: 12px 20px;
  background-color: #7c5430;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.generate-button:hover {
  background-color: #5a3d23;
}

input[type=file]::file-selector-button {
  margin-right: 8px;
  border: none;
  border-radius: 10px;
  background: #7c5430;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover {
  background: #5a3d23;
}

input[type=file]:focus {
  outline: 5px dashed #000;
  outline-offset: 2px;
}

g.barlayer g.trace.bars g.points g.point path {
  stroke-width: 0.5 !important;
  stroke: rgba(255,255,255, 0.75) !important;
}